<html>
<head>
  <title>Image Cropper</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
</body>
<div class="container">
  <h2>Automatic Image Cropper</h2>
  <p>
    This API takes an image and return a cropped image in the specified aspect ratio.
    The model first predict visaul saliency of each pixel. Crops with saliency sum samler than a certain threshold will be ignored.
    Also, crops that crop out faces are dropped from the candidate set.
    The candidate crops thus created are then passed to a vgg net to extract their features in 4096 dimensions.
    Finally, a SVM Rank model predicts the ranking based on vgg extracted features.
    The crop with highest rank score will be the final prediction.
  </p>
  <form id = "picture" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label>Select an image</label>
      <input type="file" name="pic" accept="image/*" class="form-control">
    </div>
    <label>Aspect Ratio (ex: 4:3)</label>
    <div class="form-group">
      <input type="text" name="width" class="form-control" placeholder="Width"> 
    </div>
    <div class="form-group">
      <input type="text" name="height" class="form-control" placeholder="Height">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <script>
    var imgURL = ""
    $("form").submit(function( event ){
      event.preventDefault();
      var post_url = $(this).attr("action"); //get form action url
      var request_method = $(this).attr("method"); //get form GET/POST method
      var formData = new FormData(this);    
      var imgURL = ''
      var imgURLS = ''
      $("#image_cropped").on('load', function(){
        $("#image_cropped").css("display","inline")
        $("#message").text("")
      });
      $("#image_cropped").on("error", function () {
        $("#image_cropped").css("display","none")
        setTimeout(function(){ $("#image_cropped").attr('src', imgURL+"?t="+new Date()); }, 5000);
      });
      $("#image_saliency").on('load', function(){
        $("#image_saliency").css("display","inline")
        $("#message").text("")
      });
      $("#image_saliency").on("error", function () {
        $("#image_saliency").css("display","none")
        setTimeout(function(){ $("#image_saliency").attr('src', imgURLS+"?t="+new Date()); }, 5000);
      });
      $("#image_bounding_box").on('load', function(){
        $("#image_bounding_box").css("display","inline")
        $("#message").text("")
        $("#message").css("visibility","hidden")
      });
      $("#image_bounding_box").on("error", function () {
        $("#image_bounding_box").css("display","none") 
        setTimeout(function(){ $("#image_bounding_box").attr('src', imgURLB+"?t="+new Date()); }, 5000);
      });
      $.ajax({
       url : post_url,
       type: request_method,
       data : formData,
       contentType: false,
       processData: false
     })
      .done(function(response){
       if ("imgURL" in response){
         imgURL = response["imgURL"]
         imgURLS = response["imgURLS"]
         imgURLB = response["imgURLB"]
         $("#image_cropped").attr('src', imgURL)
         $("#image_saliency").attr('src', imgURLS)
         $("#image_bounding_box").attr('src', imgURLB)
         $("#message").text("Cropping. This may take up to 2 minute.")
         $("#message").removeClass("alert-warning")
         $("#message").removeClass("alert-success")
         $("#message").addClass("alert-info")
         $("#message").css("visibility","visible")
       }
       else if ("error" in response){
         $("#message").text(response["error"])
         $("#message").removeClass("alert-info")
         $("#message").removeClass("alert-success")
         $("#message").addClass("alert-warning")
         $("#image_cropped").css("display","none")
         $("#image_saliency").css("display","none")
         $("#image_bounding_box").css("display","none")
         $("#message").css("visibility","visible")
       }
     })
    });
  </script>
  <div id = "crop" style="margin-top:30px">
    <div class="alert alert-info" id = "message" style="visibility:hidden">
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img alt="Lights" style="width:100%;display:none" id = "image_saliency">
          <div class="caption">
            <p>Saliency</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img alt="Nature" style="width:100%;display:none" id = "image_bounding_box">
          <div class="caption">
            <p>Bounding Box</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img alt="Fjords" style="width:100%;display:none" id = "image_cropped">
          <div class="caption">
            <p>Cropped image</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>


